<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارسال ایمیل  بازیابی با موفقیت انجام شد</title>
</head>
<body>
 
    <div style="font-family: vazir; text-align: center;">
                    
            <h1> بازنشانی رمز عبور ارسال شد</h1>  
            
            <h4>اگر حسابی با ایمیلی که وارد کرده‌اید وجود داشته باشد، دستورالعمل‌های تنظیم رمز عبور را برای شما ایمیل کرده‌ایم. شما باید به زودی آنها را دریافت کنید.</h4>

            <h4> اگر ایمیلی دریافت نکردید، لطفاً مطمئن شوید که آدرسی را که با آن ثبت نام کرده اید وارد کرده اید و پوشه هرزنامه خود را بررسی کنید.</h4>
    </div>

</body>
</html>