{% extends 'registration/base.html' %}
 
{% block title %}{% block title-meta %}
تغیر رمز عبور 
{% endblock %} {% endblock %}


{% block main %}

<div class="col-md-8 text-center mx-auto">
     
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title mb-0 foalt-left"> تغیر گذرواژه </h3>
            </div>
               <div class="card-body py-4">
                <form method="post">{% csrf_token %}
                    <p class='py-2'> رمزعبور با موفقیت تغیر یافت </p>
                    {{ form }}
                </form>
            </div>
        </div>

      


{% endblock %}