<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ارسال ایمیل  بازیابی با موفقیت انجام شد</title>
</head>
<body>
 
    <div style="font-family: vazir; text-align: center;">
                    
            <h1>   رمزعبور  تغیر یافت !</h1>  
            
            <h4>   رمز عبور شما با موفقیت ویرایش یافت. برای ورود مجدد اقدام نمایید.  </h4>
  
            <h4 style="font-weight: bold; color: blue;"> <a href="{% url 'login' %}">ورود به سایت </a></h4>
    </div>

</body>
</html>

<p class='py-2'> برای ورود <a href="{% url 'login' %}">  اینجا </a> کلیک کنید. </p>