<!DOCTYPE html>
<html dir="rtl">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
</head>
<body>
 
    <div style="font-family: vazir; text-align: center;">
        <h1> لینک فعال سازی به ایمیل شما ارسال شد. </h1>
                    
        <h3>  برای ورود کلیک کنید: </h3>
  
            <h4 style="font-weight: bold; color: blue;"> <a href="{% url 'login' %}">ورود به سایت </a></h4>
    </div>

</body>
</html>
